<div>
  <div class="row app-header main-header grey lighten-5">
    <h5 class="left main-header-title">Messages</h5>
    <div class="right" *ngIf="!newMessage" (click)="newMessage = true">
      <i class="material-icons">add_circle_outline</i>
      <h5 class="right main-header-heading">New Message</h5>
    </div>
    <div class="right" *ngIf="newMessage" (click)="newMessage = false">
      <i class="material-icons">arrow_back</i>
      <h5 class="right main-header-heading">Go Back</h5>
    </div>
  </div>
  <div [hidden]="newMessage">
    <div class="row my-padding landscape-heading grey lighten-3 z-depth-1">
      <div class="col s4 offset-s1">
        <p class="text--cap">Message</p>
      </div>
      <div class="col s5">
        <p class="center-align">Schedule</p>
      </div>
      <div class="col s2">
        <p class="col" style="margin-left: 5px; padding-left: 25px">action</p>
      </div>
    </div>
    <div class="row main-content landscape">
      <div *ngFor="let message of _messages" class="card white row transparent long-card">
        <div class="card-content long-card-content ">
          <div class="col s4 offset-s1 sub-div">
            <p><b>{{message.message_title}}</b></p>
            <p>{{message.message_content}}</p>
          </div>
          <div class="col s5 sub-div">
            <p class="center-align ">Date</p>
          </div>
          <div class="col s2 right sub-div" style="border-right: none; ">
            <div class="row col offset-s4"><a class="black-text" (click)="postMessage(message)">Post</a></div>
            <div class="row col offset-s4"><a class="red-text" (click)="deleteMessage(message)">Delete</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row main-content" [hidden]="!newMessage">
    <div class="row">
      <input [(ngModel)]="sendMessageData.message_title" placeholder="Message Title">
    </div>
    <div class="row">
      <textarea [(ngModel)]="sendMessageData.message_content" placeholder="Message Content"></textarea>
    </div>
    <div class="row">
      <button class="btn-flat light-blue darken-1 white-text" [disabled]="!sendMessageData.message_title.trim() ||!sendMessageData.message_content.trim()" (click)="submitMessage()">Submit</button>
    </div>
  </div>
</div>
<div class="progress" *ngIf="loading" style="position: absolute; left: 0px">
  <div class="indeterminate"></div>
</div>