<!--<section>-->
  <!--<form action="/reset-password?access_token=<%= accessToken %>" method="post">-->
    <!--<fieldset>-->
      <!--<legend>Create new password</legend>-->
      <!--<div>-->
        <!--<label for="password">New password:</label>-->
        <!--<input type="text" name="password">-->
      <!--</div>-->
      <!--<div>-->
        <!--<label for="confirmation">Confirm new password:</label>-->
        <!--<input type="password" name="confirmation">-->
      <!--</div>-->
      <!--<div>-->
        <!--<input type="submit" value="Reset password">-->
      <!--</div>-->
    <!--</fieldset>-->
  <!--</form>-->
<!--</section>-->
<html>

<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <style>
    body {
      background: #28397E;
    }

    .reset {
      width: 400px;
      height: 300px;
      margin: auto;
      margin-top: 8%;
    }

    .reset-text {
      font-size: 28px;
      text-align: center;
      color: #f2f2f2;
      letter-spacing: 2px;
    }

    .reset-inner {
      background: #eaeaec;
      padding: 15px;
      text-align: center;
      height: 300px;
    }

    .reset-inner img {
      width: 220px;
      height: 80px;

    }

    .reset-input {
      background: transparent !important;
      border: none !important;
      font-size: 16px;
      padding: 10px;
      display: block;
      border-bottom: 1px solid grey !important;
      outline: none !important;
      margin-top: 10px;
      width: 100%;
    }

    .reset-button {
      padding: 10px 20px !important;
      margin: 40px 10px 10px 10px !important;
      width: 80% !important;
      font-size: 18px;
      background: #28397E;
      color: white;
      border-radius: 8px;
    }
  </style>
</head>

<body>
<div class="reset">
  <h4 class="reset-text">Reset Password</h4>
  <div class="reset-inner">
    <img src="https://firebasestorage.googleapis.com/v0/b/my-lib-project-46754.appspot.com/o/common%2Flogo-reset.png?alt=media&token=54881148-3955-4e71-9d8a-05563c77b78a">
    <form action="/reset-password?access_token=<%= accessToken %>" method="post">
      <input type="password" placeholder="New password" class="reset-input" name="password">
      <input type="password" placeholder="Repeat password" class="reset-input" name="confirmation">
      <input type="submit" value="Reset password" class="reset-button">
    </form>
  </div>
</div>
</body>

</html>
