<div class="row app-content">
  <div class="col l3">
    <nav>
      <ul id="slide-out" class="side-nav fixed">
        <li *ngFor="let menuItem of menuList" routerLinkActive="active">
          <a [routerLink]="[menuItem.path]"><i class="material-icons">{{menuItem.icon}}</i> {{menuItem.display}}</a>
        </li>
        <li (click)="logout()"><a class="" ><i class="material-icons">power_settings_new</i>Log out</a></li>
        <div class="center-block" style="height: 100px; width: 200px; margin-top: 6rem;">
          <img class="responsive-img" src="../../assets/images/logo.png">
        </div>
      </ul>
    </nav>
  </div>
  <div class="col l9 s12 fixed-content">
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out"
       class="button-collapse hide-on-large-only">
      <i class="material-icons sidenav-menu-icon">menu</i>
    </a>
    <div class="row">
      <div class="col s12 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

