.main-content .col .card.fix-card .card-action a{
  text-transform: capitalize !important;
  margin-right: 0px;
  color: white;
}
.save-button{
  position: fixed;
  bottom: 0rem;
  left: 11rem;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #9e9e9e;
}

.section-card {
    padding: 20px;
    box-shadow: 1px 1px 10px #444;
    margin: 10px;
}

.delete-section {
  cursor: pointer; padding-right: 33px; color: #28397E;
}
.delete-section-icon {
  font-size: 45px; 
  color: #28397E;
}
