<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>

<div class="row app-header main-header grey lighten-5">
  <h5 class="left main-header-title">Lesson</h5>
</div>

<div class="row main-content" style="margin-bottom: 10px">
  <div class="row">
    <div class="col s6">
      <div class="input-field">
        <input #lessonTitleField type="text" placeholder="Lesson Name" name="lesson_title" [(ngModel)]="lesson_title" required>
      </div>
    </div>
    <div class="col s6">
      <div class="file-field input-field">
        <div class="btn btn-flat right">
          <span><i class="material-icons">file_upload</i> </span>
          <input type="file" (change)="lessonIconUpload($event)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Lesson Icon" name="lesson_icon" [(ngModel)]="lesson_icon">
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let section of lsections; let i = index;" class="section-card">
    <div class="row">
      <div class="right delete-section" (click)="deleteSectionData = {'section' : section , 'index' : i}; modalActions.emit({action: 'modal', params: ['open']});">
        <i class="material-icons delete-section-icon">delete</i>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <video controls="controls" preload="metadata" style="max-height: 150px" webkit-playsinline="webkit-playsinline" class="videoPlayer full-width"
          id="video">
          <source src="{{this.lsections[i].mediaURI}}" type="video/mp4" />
        </video>
      </div>
      <div class="col s6 right">
        <div class="row">
          <div class="transparent" style="padding: 0px">
            <div class="file-field input-field">
              <div class="btn btn-flat right">
                <span><i class="material-icons">file_upload</i> </span>
                <input type="file" (change)="uploadMedia($event, i)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload Media" name="lesson_media" [(ngModel)]="this.lsections[i].mediaURI">
              </div>
            </div>
            <div class="file-field input-field" *ngIf="this.lsections[i].mediaURI">
              <div class="btn btn-flat right">
                <span><i class="material-icons">file_upload</i> </span>
                <input type="file" (change)="uploadZip($event, i)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload Zip" name="lesson_zip" [(ngModel)]="this.lsections[i].zipURI">
              </div>
            </div>
          </div>
          <div class="file-field input-field">
            <div class="btn btn-flat right">
              <span><i class="material-icons">file_upload</i> </span>
              <input type="file" (change)="attachImage($event, i)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Attach Image" name="lesson_photo" [(ngModel)]="this.lsections[i].imageURI">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
      <div class="input-field col s12">
        <div [froalaEditor]="froalaOptions" [(froalaModel)]="this.lsections[i].section_description"></div>
        <label>Content</label>
      </div>
    </div>
    <hr style="border: solid 1px black;margin-top: 0px">
  </div>
  <div class="right" style="cursor: pointer; padding-right: 40px; color: #28397E" (click)="addNewSection()">
    <i class="material-icons" style="font-size: 45px; color: #28397E">add_circle_outline</i>
    <h5 class="right">Add Section</h5>
  </div>
</div>
<div style="width: 300px; margin:auto; position: static">
  <button class="waves-effect waves-light btn-large darken-1 light-blue white-text" style="font-size: 20px; width: 300px;"
    (click)="saveSections()" [disabled]="loading || !lesson_title">
    Save
  </button>
</div>

<div id="deleteConfirmationModal" class="delete-confirmation-modal grey lighten-2" materialize="modal" [materializeParams]="[{dismissible: false}]"
  [materializeActions]="modalActions" style="overflow: visible; min-width:400px !important;">
  <div class="center-align delete-confirmation-text">
    <p>Are you sure you want to delete this Section ?</p>
  </div>
  <div class="center-align delete-confirmation-warning-text ">
    <p>Be careful, this process cannot be undone.</p>
  </div>
  <div class="center-align delete-modal-row">
    <button class="btn center-align delete-modal-buttom modal-close padding-0 delete-color" (click)="removeSection()">Delete
          </button>
    <button class="btn center-align light-blue darken-1 delete-modal-buttom modal-close padding-0">Cancel
          </button>
  </div>
</div>