<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>
<div>
  <div class="row app-header main-header grey lighten-5">
    <h5 class="left main-header-title">Books</h5>
    <div class="right" (click)="openModalAdd()">
      <i class="material-icons">add_circle_outline</i>
      <h5 class="right modal-trigger main-header-heading">Add Book</h5>
    </div>
  </div>

  <div class="row main-content main-card">
    <div *ngFor="let book of books" class="main-card-box">
      <div class="card">
        <div class="card-image" (click)="onSelect(book)">
          <img src="{{book?.book_thumb}}" class="main-card-image">
        </div>
        <div class="card-content blue-grey darken-3 main-card-content">
          <p class="main-card-title" (click)="onSelect(book)">{{book?.book_title}}</p>
          <p class="main-card-links">
            <a class="modal-trigger grey-text lighten-4" (click)="openModalEdit(book)">Edit</a>
            <a class="right grey-text lighten-4"  (click)="deleteData = book; modalActionsDelete.emit({action: 'modal', params: ['open']});">Delete</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalAddBook" class="modal grey lighten-2 modal-container" materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsAdd">
  <form (submit)="addBook(addForm)" novalidate #addForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModalAdd(addForm)"><i
          class="material-icons">close</i></a>
        <h5 class="center-align">Add Book</h5>
        <div class="input-div">
          <input type="text" class="input-field" name="book_title" placeholder="Book Name"
                 [(ngModel)]="newBook.book_title" required #nameField="ngModel">
          <p><span *ngIf="nameField.touched && nameField.invalid">Required!</span></p>
        </div>
        <div class="input-div">
          <textarea id="book_description" class="materialize-textarea" rows="1"
                    style="height: 1rem; min-height: 1rem; max-height: 3rem;margin-bottom: 0"
                    placeholder="Description" name="book_description" [(ngModel)]="newBook.book_description" required
                    #descField="ngModel">
          </textarea>
          <p><span *ngIf="descField.touched && descField.invalid">Required!</span></p>
        </div>
        <div class="input-div">
          <input type="number" min="0" class="input-field" name="termsCount" placeholder="Number of terms"
                 [(ngModel)]="newBook.termsCount" required #termsField="ngModel">
          <p><span *ngIf="termsField.touched && termsField.invalid">Required!</span></p>
        </div>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="bookThumbUpload($event, false)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Book Thumbnail" name="book_thumb"
                   [(ngModel)]="newBook.book_thumb">
          </div>
        </div>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="bookBgUpload($event, false)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Book background image" name="book_bg"
                   [(ngModel)]="newBook.book_bg">
          </div>
        </div>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="termIconUpload($event, false)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Term icon" name="term icon"
                   [(ngModel)]="newBook.termsIcon">
          </div>
        </div>
        <div class="center-align">
          <button type="submit" class="btn light-blue darken-1 modal-button" [disabled]="addForm.invalid || loading">Add
            book
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="modalEditBook" class="modal grey lighten-2 modal-container" materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsEdit">
  <form (submit)="updateBook(editForm)" novalidate #editForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModalEdit(editForm)"><i
          class="material-icons">close</i></a>
        <h5 class="center-align">Update Book</h5>
        <div class="input-div">
          <input type="text" required class="input-field" name="ebook_title" placeholder="Book Name"
                 [(ngModel)]="editBook.book_title" #nameEdit="ngModel">
          <p>
            <span *ngIf="nameEdit.touched && nameEdit.invalid">Required!</span>&nbsp;
          </p>
        </div>
        <div class="input-div">
          <textarea id="ebook_description" class="materialize-textarea" rows="1" required #edesc="ngModel"
                    style="height: 1rem; min-height: 1rem; max-height: 3rem; margin-bottom: 0;"
                    placeholder="Description" name="ebook_description" [(ngModel)]="editBook.book_description">
          </textarea>
          <p><span *ngIf="edesc.touched && edesc.invalid">Required!</span></p>
        </div>
        <div class="input-div">
          <input type="number" min="0" class="input-field" name="etermsCount" placeholder="Number of terms"
                 [(ngModel)]="editBook.termsCount" #termsEdit="ngModel">
          <p>
            <span *ngIf="termsEdit.touched && termsEdit.invalid">Required!</span>&nbsp;
          </p>
        </div>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="bookThumbUpload($event, true)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Book Thumbnail" name="ebook_thumb"
                   [(ngModel)]="editBook.book_thumb">
          </div>
        </div>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons" (change)="bookBgUpload($event, true)">file_upload</i> </span>
            <input type="file" (change)="bookBgUpload($event, true)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Book background image" name="ebook_bg"
                   [(ngModel)]="editBook.book_bg">
          </div>
        </div>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="termIconUpload($event, true)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Term icon" name="term icon"
                   [(ngModel)]="editBook.termsIcon">
          </div>
        </div>
      </div>
      <div class="center-align">
        <button type="submit" class="btn light-blue darken-1 modal-button" [disabled]="editForm.invalid || loading">
          Update
        </button>
      </div>
    </div>
  </form>
</div>

<div id="deleteConfirmationModal" class="delete-confirmation-modal grey lighten-2" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActionsDelete"
  style="overflow: visible; min-width:400px !important;">
  <div class="center-align delete-confirmation-text">
    <p>Are you sure you want to delete this book ?</p>
  </div>
  <div class="center-align delete-confirmation-warning-text ">
    <p>This will also delete all related topics. Be careful, this process cannot be undone.</p>
  </div>
  <div class="center-align delete-modal-row">
    <button class="btn center-align delete-modal-buttom modal-close padding-0 delete-color" (click)="deleteBook(deleteData)">Delete
          </button>
    <button class="btn center-align light-blue darken-1 delete-modal-buttom modal-close padding-0">Cancel
          </button>
  </div>
</div>
