<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>
<div class="row app-header main-header grey lighten-5">
  <h5 class="left main-header-title">Lessons</h5>
  <div class="right" (click)="addNewLesson()">
    <i class="material-icons">add_circle_outline</i>
    <h5 class="right modal-trigger main-header-heading">Add Lesson</h5>
  </div>
</div>
<div class="row main-content main-card" [hidden]="addLesson">
  <div *ngFor="let lesson of lessons" class="main-card-box">
    <div class="card">
      <div class="card-image" (click)="editOldLesson(lesson)">
        <img *ngIf="lesson?.lesson_icon" src="{{lesson?.lesson_icon}}" class="main-card-image">
        <img *ngIf="!lesson?.lesson_icon" src="../../assets/images/lessons-title.png" class="main-card-image">
      </div>
      <div class="card-content blue-grey darken-3 main-card-content">
        <p class="main-card-title" (click)="editOldLesson(lesson)">{{lesson.lesson_title}}</p>
        <p class="main-card-links">
          <a class="modal-trigger grey-text lighten-4" (click)="editOldLesson(lesson)">Edit</a>
          <a class="right grey-text lighten-4" (click)="deleteData = lesson; modalActionsDelete.emit({action: 'modal', params: ['open']});">Delete</a>
        </p>
      </div>
    </div>
  </div>
</div>


<div id="deleteConfirmationModal" class="delete-confirmation-modal grey lighten-2" materialize="modal" [materializeParams]="[{dismissible: false}]"
  [materializeActions]="modalActionsDelete" style="overflow: visible; min-width:400px !important;">
  <div class="center-align delete-confirmation-text">
    <p>Are you sure you want to delete this Lesson ?</p>
  </div>
  <div class="center-align delete-confirmation-warning-text ">
    <p>This will also delete all related section. Be careful, this process cannot be undone.</p>
  </div>
  <div class="center-align delete-modal-row">
    <button class="btn center-align delete-modal-buttom modal-close padding-0 delete-color" (click)="deleteLesson(deleteData)">Delete
          </button>
    <button class="btn center-align light-blue darken-1 delete-modal-buttom modal-close padding-0">Cancel
          </button>
  </div>
</div>