<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>
<div class="row app-header main-header grey lighten-5">
  <h5 class="left main-header-title bold condensed"> Settings</h5>
</div>
<div class="row main-content" *ngIf="!editor">
  <div class="card-panel row transparent setting-back" style="min-width: 420px;overflow-x: scroll;">
    <div class="row">
      <div class="col s6 m6">
        <img [src]="preferences.background" style="width:250px; height: 175px; border: 2px groove grey; border-radius: 5px;">
      </div>
      <div class="col s6 m6">
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="bgUpload($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Background Image" name="book_thumb" [(ngModel)]="preferences.background">
          </div>
        </div>
      </div>
    </div>
    <div class="row card transparent setting-content" style="width:60%; min-width: 420px; overflow-x: scroll ">
      <div class="card-content">
        <ul>
          <li *ngFor="let setting of settings">
            <div class="row" style="border-bottom: 1px black solid;">
              <i class="material-icons left" style="font-size: 45px">{{setting.icon}}</i>
              <h5 class="left"><span>{{setting.display}}</span></h5>
              <h5 class="right red-text" style="padding-right:2.5rem; cursor: pointer " (click)="showEditor(setting)">Edit</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row main-content" *ngIf="editor">

  <div class="row">
    <!--<div style="width: 300px; margin:auto; position: static">-->
    <div class="col">
      <button class="waves-effect waves-light btn-large darken-1 light-blue white-text" style="font-size: 20px;" (click)="hideEditor()"
        [disabled]="loading"><i class="material-icons left">arrow_back</i>
        Back
      </button>
    </div>
    <!--</div>-->
    <!--<button class="col btn btn-flat light-blue darken-1 center" (click)="hideEditor()">back</button>-->
    <h5 class="col">{{currentEdit.display}}</h5>
  </div>
  <div class="editer-content" *ngIf="currentEdit.id=='help'">
    <!-- <textarea class="materialize-textarea" [(ngModel)]="preferences.help"
              style="max-height: 350px; min-height: 200px"></textarea> -->
    <div [froalaEditor]="froalaOptions" [(froalaModel)]="preferences.help"></div>
    <!--<app-tinymce [(ngModel)]="preferences.help"></app-tinymce>-->
  </div>
  <div class="editer-content" *ngIf="currentEdit.id=='licences'">
    <!-- <textarea class="materialize-textarea" [(ngModel)]="preferences.licences"
              style="max-height: 350px; min-height: 200px"></textarea> -->
    <div [froalaEditor]="froalaOptions" [(froalaModel)]="preferences.licences"></div>
    <!--<app-tinymce [(ngModel)]="preferences.licences"></app-tinymce>-->
  </div>
  <div class="editer-content" *ngIf="currentEdit.id=='terms'">
    <!-- <textarea class="materialize-textarea" [(ngModel)]="preferences.terms"
              style="max-height: 350px; min-height: 200px"></textarea> -->
    <div [froalaEditor]="froalaOptions" [(froalaModel)]="preferences.terms"></div>
    <!--<app-tinymce [(ngModel)]="preferences.terms"></app-tinymce>-->
  </div>
  <div class="editer-content" *ngIf="currentEdit.id=='privacy_policy'">
    <!-- <textarea class="materialize-textarea" [(ngModel)]="preferences.privacy_policy"
              style="max-height: 350px; min-height: 200px"></textarea> -->
    <div [froalaEditor]="froalaOptions" [(froalaModel)]="preferences.privacy_policy"></div>
    <!--<app-tinymce [(ngModel)]="preferences.privacy_policy"></app-tinymce>-->
  </div>
  <div style="width: 300px; margin:auto; position: static">
    <button class="waves-effect waves-light btn-large darken-1 light-blue white-text" style="font-size: 20px; width: 300px; margin-top: 10px;"
      (click)="saveContent()" [disabled]="loading">
      Save
    </button>
  </div>
</div>