<div class="progress" *ngIf="loading" style="position: absolute; left: 0px">
  <div class="indeterminate"></div>
</div>
<div class="row">
  <div class="col push-m4 m4 s12" style="margin-top: 5%">
    <form (submit)="onSubmit(form)" novalidate #form="ngForm">
      <div class="card transparent" style="border-radius: 5px">
        <div class="row my-lib" style="border-radius: 5px 5px 0 0; height:100px">
          <div class="center-align" style="width:150px; margin: auto; margin-top: 3%">
            <img src="../../assets/images/logo.png" style="width:150px; height: auto">
          </div>
        </div>
        <div class="row my-login">
          <div class="row">
            <div class="input-field col s12 white login-input-box">
              <i class="material-icons prefix fa fa-user login-input-icon" aria-hidden="true"></i>
              <input type="text" [(ngModel)]="username" id="icon-prefix" name="username" required
                     #usernameField="ngModel" placeholder="Username"
                     class="login-input-field">
            </div>
            <p style="font-size:14px;" class="red-text">
              <span *ngIf="usernameField.touched && usernameField.invalid" #status>Please enter your username!</span>&nbsp;
            </p>
            <div class="input-field col s12 white login-input-box">
              <i class="material-icons prefix fa fa-lock login-input-icon" aria-hidden="true"></i>

              <input type="password" id="icon-prefix2" name="password" [(ngModel)]="password" required
                     #passwordField="ngModel" placeholder="Password"
                     class="login-input-field">
            </div>
            <p style="font-size:14px;" class="red-text">
              <span *ngIf="passwordField.touched && passwordField.invalid">Please enter your password !</span>&nbsp;
            </p>
          </div>
          <!--<a class="login-forgot">I forgot my password</a>-->
        </div>
        <div class="row my-login-action login-footer">
          <button class="btn wave-effect my-login-button login-footer-button" [disabled]="form.invalid || loading"
                  type="submit">
            Log In
          </button>
          <br><br>
          <a routerLink="../login" class="right">I am an admin</a>
        </div>
      </div>
    </form>
  </div>
</div>
